alembic==1.12.0
astroid==2.15.6
blinker==1.6.2
cffi @ file:///work/ci_py311/cffi_1676822533496/work
click @ file:///work/ci_py311/click_1676825163161/work
cryptography @ file:///croot/cryptography_1694444244250/work
dill==0.3.7
Flask @ file:///work/ci_py311/flask_1676827140363/work
Flask-JWT-Extended @ file:///work/ci_py311/flask-jwt-extended_1676827756937/work
Flask-Mail==0.9.1
flask-marshmallow==0.15.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy @ file:///work/ci_py311/flask-sqlalchemy_1676827785066/work
graphviz==0.20.1
greenlet @ file:///work/ci_py311/greenlet_1676825247229/work
isort==5.12.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
lazy-object-proxy==1.9.0
Mako==1.2.4
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
mccabe==0.7.0
packaging==23.1
platformdirs==3.10.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT @ file:///work/ci_py311/pyjwt_1676827385359/work
pylint==2.17.5
SQLAlchemy @ file:///work/ci_py311/sqlalchemy_1676827498678/work
tomlkit==0.12.1
typing_extensions==4.7.1
Werkzeug @ file:///croot/werkzeug_1679489717957/work
wrapt==1.15.0
